<div class="container">
  <h1>Channels</h1>
  <% @channels.each do |channel| %>
    <span><%= channel.name %></span>
    <span><%= channel.user_id %></span>
    <span><%= link_to 'Show', channel %></span>
    <%if user_signed_in? && channel.user == current_user %>
      <span><%= link_to 'Edit', edit_channel_path(channel) %></span>
      <span><%= link_to 'Destroy', channel, method: :delete, data: { confirm: 'Are you sure?' } %></span>
    <% end %>
    <% if user_signed_in? %>
      <% if channel.following_channels.find_by(user_id: current_user.id) %>
        <span><%= link_to 'UnFollow', channel.following_channels.find_by(user_id: current_user.id), method: :delete, data: { confirm: 'Are you sure?' } %></span>
      <% else %>
        <% following_channel = FollowingChannel.new %>
        <% following_channel.channel_id = channel.id %>
        <%= render "following_channels/form", following_channel: following_channel %>
      <%end%>
    <%end%>
    <br>
  <% end %>
  <% if user_signed_in? %>
  <br>
    <%= link_to 'New Channel', new_channel_path %>
  <% end %>
</div>