<section class="sign-form">
   <div class="containerLogin"> 
    <div> 
      <h2 class="text-white mb-4">SignUp to Reddit</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-floating mb-3 inputBx">
          <%= f.text_field :username, class: "form-control", id: "username", placeholder: " " %>
          <%= f.label :username %>
        </div>

        <div class="form-floating mb-3 inputBx">
          <%= f.email_field :email, class: "form-control", id: "email", placeholder: " " %>
          <%= f.label :email %>
        </div>

        <div class="form-floating mb-3">

          <%= f.password_field :password, autocomplete: "new-password",class: "form-control", id: "password", placeholder: " "  %>
          <%= f.label :password %>
                    <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </div>

        <div class="form-floating mb-3">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", id: "password_confirmation", placeholder: " " %>
          <%= f.label :password_confirmation %><br />
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-primary mb-3 w-100" %>
        </div>
      <% end %>
      <span class="text-white">Already Registred? </span><%= render "devise/shared/links" %>

    </div>
  </div>
</section>