<section class="sign-form">
   <div class="containerLogin"> 
    <div> 
      <h2 class="text-white mb-4">SignIn to Reddit</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-floating mb-3">
          <%= f.email_field :email, class: "form-control", id: "email", placeholder: " " %>
          <%= f.label :email %>
          <img src="https://www.flaticon.com/svg/static/icons/svg/709/709699.svg" alt="user">
        </div>

        <div class="form-floating mb-3">
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control", id: "password", placeholder: " " %>
          <%= f.label :password %><br />
          <img src="https://www.flaticon.com/svg/static/icons/svg/1828/1828471.svg" alt="lock">
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me, class: "form-check-input", id: "remember_me"  %>
            <%= f.label :remember_me, class: "form-check-label text-white mb-2", for: "remember_me" %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-primary mb-3 w-100" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>