<div class="container my-4">
  <div class="post">
  <%# basic information about post %>
    <%# vote for the post %>
    <div class="vote-post mx-2">
      <p> count: <%= post.count %> </p>
      <% if user_signed_in? %>
        <%= render "/posts/create_vote_post", post: post %>
      <% end %>
    </div>
    <div class="content">

      <div>
        channel <%= link_to post.channel.name, post.channel, class: "" %>
        Post by: <%= post.user.username %> 
        created at <%= post.created_at %>
        
      </div>

      <h3>
        <%= link_to post.title, post, class: "h3" %>
      </h3>

      <p><%= post.body %></p>

      <% if !defined?(showComments) || !showComments %>
        <%= link_to post.comments.length.to_s + " comments", post %>
      <% end %>

      <% if user_signed_in? && current_user == post.user %>
        <%= link_to 'Edit Post', edit_post_path(post) %>
      <% end %>



      <%# create new comment %>
      <% if user_signed_in? && defined?(includeComment) && includeComment %>
        <% newComment = Comment.new %>
        <% newComment.post_id = post.id %>
        <%= render "/comments/form", comment: newComment %>
      <% end %>
    </div>
  <%# show all comments %>
  </div>
  <% if defined?(showComments) && showComments %>
    <p> total comments: <%= post.comments.length %> </p>
    <%= render "/comments/index", comments: post.comments %>
  <% end %>

</div>