<div class="container post my-4">

  <%# basic information about post %>
  <h3>
    <%= link_to post.title, post, class: "h3" %>
  </h3>

  <p><%= post.body %></p>

  <p>Post by: <%= post.user.username %> created at <%= post.created_at %></p>
  <p>channel <%= post.channel.name %> </p>
  <% if user_signed_in? && current_user == post.user %>
    <%= link_to 'Edit Post', edit_post_path(post) %>
  <% end %>
  <%# vote for the post %>
  <p> count: <%= post.count %> </p>
  <% if user_signed_in? %>
    <%= render "/posts/create_vote_post", post: post %>
  <% end %>
  <%# show all comments %>
  <p> total comments: <%= post.comments.length %> </p>
  <%= render "/comments/index", comments: post.comments %>

  <% if user_signed_in? %>
    <% newComment = Comment.new %>
    <% newComment.post_id = post.id %>
    <%= render "/comments/form", comment: newComment %>
  <% end %>

</div>